<div class="text">
   <ol class="orange-bullet" type="a">
      <li>one</li>
      <li>two</li>
      <li>three</li>
      <li>four</li>
      <li>five</li>
      <li>six</li>
      <li>seven</li>
   </ol>
</div>