	<ul class="lesson-list">
		<li class="azul">START bullet 1 END;</li>
		<li class="azul">START bullet 2 END;</li>
		<li class="azul">START bullet 3 END;</li>
		<li class="azul">START bullet 4 END.</li>
	</ul>
