	&lt;ul class=&quot;lesson-list&quot;&gt;
		&lt;li class=&quot;azul&quot;&gt;START bullet 1 END;&lt;/li&gt;
		&lt;li class=&quot;azul&quot;&gt;START bullet 2 END;&lt;/li&gt;
		&lt;li class=&quot;azul&quot;&gt;START bullet 3 END;&lt;/li&gt;
		&lt;li class=&quot;azul&quot;&gt;START bullet 4 END.&lt;/li&gt;
	&lt;/ul&gt;
