   &lt;ol class=&quot;rectangle-list&quot;&gt;
      &lt;li&gt;&lt;a href=&quot;&quot;&gt;List item&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;&quot;&gt;List item&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;&quot;&gt;List item&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;&quot;&gt;List item&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;&quot;&gt;List item&lt;/a&gt;&lt;/li&gt;
   &lt;/ol&gt;
