&lt;div class=&quot;field field-name-body field-type-text-with-summary field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;&lt;p&gt;&lt;/p&gt;&lt;div class=&quot;panel-group&quot; id=&quot;custom-collapse-0&quot;&gt;&lt;div class=&quot;panel panel-link&quot;&gt;
      &lt;div class=&quot;panel-heading&quot;&gt;
        &lt;h4 class=&quot;panel-title&quot;&gt;
          &lt;a class=&quot;accordion-toggle&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#custom-collapse-0&quot; href=&quot;#custom-collapse-0-negociao&quot;&gt;Negocia&ccedil;&atilde;o&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
      &lt;div id=&quot;custom-collapse-0-negociao&quot; class=&quot;panel-collapse in&quot;&gt;
        &lt;div class=&quot;panel-body&quot;&gt;&lt;p&gt;&lt;/p&gt;
&lt;ul&gt;&lt;li&gt;As partes interagem voluntariamente em um relacionamento tempor&aacute;rio destinado a informar uma &agrave; outra sobre suas necessidades e interesses, trocar informa&ccedil;&otilde;es espec&iacute;ficas e resolver quest&otilde;es. Alguns especialistas definem negocia&ccedil;&atilde;o como uma forma conjunta de resolver um problema ou criar algo novo que n&atilde;o poderia ser criado unilateralmente. Podemos classificar a negocia&ccedil;&atilde;o como uma forma de autocomposi&ccedil;&atilde;o direta (desenvolvida entre as partes sem a participa&ccedil;&atilde;o de um terceiro).&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;div class=&quot;panel panel-link&quot;&gt;
      &lt;div class=&quot;panel-heading&quot;&gt;
        &lt;h4 class=&quot;panel-title&quot;&gt;
          &lt;a class=&quot;accordion-toggle&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#custom-collapse-0&quot; href=&quot;#custom-collapse-0-mediao&quot;&gt;Media&ccedil;&atilde;o&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
      &lt;div id=&quot;custom-collapse-0-mediao&quot; class=&quot;panel-collapse collapse&quot;&gt;
        &lt;div class=&quot;panel-body&quot;&gt;&lt;p&gt;&lt;/p&gt;
&lt;ul&gt;&lt;li&gt;Se as negocia&ccedil;&otilde;es forem dif&iacute;ceis de iniciar ou tiverem chegado a um impasse, as partes podem precisar de ajuda externa. A media&ccedil;&atilde;o pode ser definida como um prolongamento do processo de negocia&ccedil;&atilde;o com o suporte de um terceiro imparcial e neutro (o mediador) que ajuda as partes a chegarem a uma solu&ccedil;&atilde;o mutuamente aceit&aacute;vel. Nesse caso, podemos classificar a media&ccedil;&atilde;o como uma forma de autocomposi&ccedil;&atilde;o indireta, uma vez que envolve a participa&ccedil;&atilde;o de uma terceira pessoa. Uma forma simples de definir a media&ccedil;&atilde;o pode ser consider&aacute;-la uma negocia&ccedil;&atilde;o feita com a ajuda de uma terceira pessoa preparada tecnicamente para esse fim.&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;div class=&quot;panel panel-link&quot;&gt;
      &lt;div class=&quot;panel-heading&quot;&gt;
        &lt;h4 class=&quot;panel-title&quot;&gt;
          &lt;a class=&quot;accordion-toggle&quot; data-toggle=&quot;collapse&quot; data-parent=&quot;#custom-collapse-0&quot; href=&quot;#custom-collapse-0-conciliao&quot;&gt;Concilia&ccedil;&atilde;o&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
      &lt;div id=&quot;custom-collapse-0-conciliao&quot; class=&quot;panel-collapse collapse&quot;&gt;
        &lt;div class=&quot;panel-body&quot;&gt;&lt;p&gt;&lt;/p&gt;
&lt;ul&gt;&lt;li&gt;Tamb&eacute;m podemos definir a concilia&ccedil;&atilde;o como uma negocia&ccedil;&atilde;o que recebe a ajuda de uma terceira parte. Nesse caso, ao contr&aacute;rio da media&ccedil;&atilde;o, o conciliador tem uma maior liberdade para sugerir solu&ccedil;&otilde;es para resolver o conflito, enquanto o mediador deve se concentrar mais em ajudar as partes a constru&iacute;rem, elas mesmas, as op&ccedil;&otilde;es. A concilia&ccedil;&atilde;o, normalmente, &eacute; mais utilizada nos Juizados Especiais, nos mutir&otilde;es judiciais e extra-judiciais, nas audi&ecirc;ncias com ju&iacute;zes e nos contextos de tentativa pr&eacute;-processual de resolu&ccedil;&atilde;o de disputas, a exemplo do PROCON. Uma outra caracter&iacute;stica que diferencia a concilia&ccedil;&atilde;o da media&ccedil;&atilde;o, normalmente, &eacute; a utiliza&ccedil;&atilde;o de uma &uacute;nica sess&atilde;o, com tempo que varia de quinze minutos a uma hora.&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;/div&gt;&lt;p&gt;&lt;/p&gt;
&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;