<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p></p><div class="panel-group" id="custom-collapse-0"><div class="panel panel-link">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-negociao">Negociação</a>
        </h4>
      </div>
      <div id="custom-collapse-0-negociao" class="panel-collapse in">
        <div class="panel-body"><p></p>
<ul><li>As partes interagem voluntariamente em um relacionamento temporário destinado a informar uma à outra sobre suas necessidades e interesses, trocar informações específicas e resolver questões. Alguns especialistas definem negociação como uma forma conjunta de resolver um problema ou criar algo novo que não poderia ser criado unilateralmente. Podemos classificar a negociação como uma forma de autocomposição direta (desenvolvida entre as partes sem a participação de um terceiro).</li>
</ul><p></p></div>
      </div>
    </div> <div class="panel panel-link">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-mediao">Mediação</a>
        </h4>
      </div>
      <div id="custom-collapse-0-mediao" class="panel-collapse collapse">
        <div class="panel-body"><p></p>
<ul><li>Se as negociações forem difíceis de iniciar ou tiverem chegado a um impasse, as partes podem precisar de ajuda externa. A mediação pode ser definida como um prolongamento do processo de negociação com o suporte de um terceiro imparcial e neutro (o mediador) que ajuda as partes a chegarem a uma solução mutuamente aceitável. Nesse caso, podemos classificar a mediação como uma forma de autocomposição indireta, uma vez que envolve a participação de uma terceira pessoa. Uma forma simples de definir a mediação pode ser considerá-la uma negociação feita com a ajuda de uma terceira pessoa preparada tecnicamente para esse fim.</li>
</ul><p></p></div>
      </div>
    </div> <div class="panel panel-link">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-conciliao">Conciliação</a>
        </h4>
      </div>
      <div id="custom-collapse-0-conciliao" class="panel-collapse collapse">
        <div class="panel-body"><p></p>
<ul><li>Também podemos definir a conciliação como uma negociação que recebe a ajuda de uma terceira parte. Nesse caso, ao contrário da mediação, o conciliador tem uma maior liberdade para sugerir soluções para resolver o conflito, enquanto o mediador deve se concentrar mais em ajudar as partes a construírem, elas mesmas, as opções. A conciliação, normalmente, é mais utilizada nos Juizados Especiais, nos mutirões judiciais e extra-judiciais, nas audiências com juízes e nos contextos de tentativa pré-processual de resolução de disputas, a exemplo do PROCON. Uma outra característica que diferencia a conciliação da mediação, normalmente, é a utilização de uma única sessão, com tempo que varia de quinze minutos a uma hora.</li>
</ul><p></p></div>
      </div>
    </div> </div><p></p>
</div></div></div>