<div class="region region-content-row3 clearfix">
	<div class="span4 clearfix block block-block" id="block-block-37">
		<div class="content">
			<div class="box content_3-column_flow_region">
				<h3 class="fa fa-plus-square" id="page-title"><br>
					<a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-1">Quantidade de profissionais de Direito por 100 mil habitantes1</a></h3>
				<div style="display: none;">
					<div id="modal-1"><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-1">O Brasil disputa com os Estados Unidos a liderança mundial em quantidade de profissionais do Direito a cada 100 mil habitantes. Em 2010 (último censo demográfico brasileiro), pesquisa demonstrou os seguintes dados: </a>
						<ul>
							<li><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-1">Os Estados Unidos estavam em primeiro lugar com 372 advogados;</a></li>
							<li><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-1">O Brasil aparecia em segundo lugar, com 357 advogados;</a></li>
							<li><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-1">A Índia, que aparecia em segundo lugar em número absoluto de advogados, num total de 1,1 milhão de profissionais, tinha uma concentração relativamente pequena de 90 advogados por 100 mil habitantes.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4 clearfix block block-block" id="block-block-91">
		<div class="content">
			<div class="box content_3-column_flow_region">
				<h3 class="fa fa-plus-square" id="page-title"><br>
					<a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-2">Quantidade de Faculdades de Direito</a></h3>
				<div style="display: none;">
					<div id="modal-2"><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-2">O Brasil tem mais faculdades de Direito do que todos os países no mundo juntos. Também em 2010 já existiam 1.240 cursos superiores para a formação de advogados em território nacional enquanto no resto do planeta a soma chegava a 1.100.</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4 clearfix block block-block" id="block-block-93">
		<div class="content">
			<div class="box content_3-column_flow_region">
				<h3 class="fa fa-plus-square" id="page-title"><br>
					<a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-3">Quantidade de ações judiciais3</a></h3>
				<div style="display: none;">
					<div id="modal-3"><a class="colorbox-inline" href="?width=500&amp;height=500&amp;inline=true#modal-3">Segundo o Relatório Justiça em Números 2014, do CNJ, em 2013, houve 28,3 milhões de novas ações judiciais, cerca de 400 mil a mais do que em 2012. Ao todo foram julgadas 27,7 milhões de ações judiciais, um aumento de 100 mil em relação ao ano anterior. Entre 2009 e 2013, o número de processos pendentes aumentou de 58,9 milhões para 66,8 milhões. Desse total, 31,8% são processos relativos a direito do consumidor e a questões ambientais, e 41,4% são ações de execução fiscal. O número de ações judiciais em tramitação nas diferentes instâncias chegou a 95,14 milhões em 2013 (em 2010 foram 83,4 milhões e em 2011, 90 milhões)</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
