<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #AA3333;"></span>
		<span class="sg-label">#A3333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0CB568;"></span>
		<span class="sg-label">#0CB568</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #004862;"></span>
		<span class="sg-label">#004862</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5911f;"></span>
		<span class="sg-label">#F5911F</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccdbe0;"></span>
		<span class="sg-label">#ccdbe0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>